.poll-details-continer {
    padding: 10px 10px;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    .poll-left-container {
        flex: 2;
        max-width: 650px;
    }

    .chart-container {
        flex: 1;
        margin-top: 40px;
    }

    .link-details {
        padding: 20px;
        overflow-wrap: anywhere;
        .link-text {
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 15px;
        }

        a {
            color: #f9700f;
        }
    }

    #delete-poll-btn,
    #end-poll-btn {
        display: block;
        margin: 10px 20px;
        border-radius: 4px;
        background: #f12525;
        white-space: nowrap;
        padding: 10px 20px;
        color: #fff;
        font-size: 16px;
        outline: none;
        border: none;
        cursor: pointer;

        z-index: 0;
        &:hover {
            cursor: pointer;
            transform: translateY(-3px);
        }

        &:focus {
            outline: none;
        }
    }
    #end-poll-btn {
        background: #0c0c0c;
    }
    .ended {
        display: block;
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        margin: 20px auto;
        color: #414141;
    }
}

.poll-details-question {
    margin: 30px 16px 5px;
    font-size: 35px;
    font-weight: bold;
    color: #383737;
}

.btns-wrap {
    display: flex;
    justify-content: center;
}

.poll-details-loading {
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 100px;
    transform: translate(-50%, -50%);
}
