@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
html,
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
    background-color: #fff;
    height: 100vh;
}
