.container {
    width: 90%;
    margin: 10px auto;
    h1 {
        margin-top: 5px;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        width: 100%;
        text-transform: uppercase;
        font-size: 40px;
        font-family: "Permanent Marker", cursive;
    }
    .user {
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 10px 15px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        z-index: 0;
        .username {
            margin-left: auto;
            margin-right: 10px;
            font-weight: lighter;
            text-transform: uppercase;
        }

        button {
            background: #1c8ce7;
            color: #fff;
            padding: 10px 20px;
            border: none;
            font-size: 15px;
            border-radius: 20px;
            text-transform: uppercase;
            z-index: 0;
            &:hover {
                cursor: pointer;
                transform: scale(1.04);
            }
        }
    }
    .heading {
        margin-top: 50px;
        padding: 10px;
        font-size: 20px;
        color: #4d4a4a;
        text-transform: uppercase;
    }
    .polls {
        display: flex;
        flex-wrap: wrap;
    }
    .dashboard-loading {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 100px;
        color: #4d4a4a;
        transform: translate(-50%, -50%);
        transition: 1s ease;
    }
}

@media only screen and (max-width: 500px) {
    .polls {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .container {
        width: 98%;
        h1 {
            position: static;
            font-size: 30px;
        }
        .user {
            position: static;
            justify-content: center;

            .fa-user {
                font-size: 40px;
            }
            .username {
                margin-left: 0;
            }
        }
    }
}
