.container {
    width: 90%;
    margin: 10px auto;

    h1 {
        font-family: "Source Sans Pro", sans-serif;
    }
    .user {
        .username {
            font-weight: lighter;
            text-transform: uppercase;
        }

        span {
            font-weight: bold;
        }
    }
    .heading {
        margin-top: 50px;
        padding: 10px;
        font-size: 20px;
        color: #4d4a4a;
        text-transform: uppercase;
    }
    .polls {
        display: flex;
        flex-wrap: wrap;
    }
    .dashboard-loading {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 100px;
        transform: translate(-50%, -50%);
    }
}

@media only screen and (max-width: 500px) {
    .polls {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .container {
        width: 98%;
        h1 {
            position: static;
            font-size: 30px;
        }
        .user {
            position: static;
            justify-content: center;

            .fa-user {
                font-size: 40px;
            }
            .username {
                margin-left: 0;
            }
        }
    }
}
