.logout-btn {
    border-radius: 4px;
    background: #4b59f7;
    white-space: nowrap;
    padding: 10px 20px;
    color: #fff;
    font-size: 16px;
    outline: none;
    border: none;
    cursor: pointer;
}
