.form-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 0px 20px 50px 20px;
    form {
        display: flex;
        flex-direction: column;
        background: #fff;

        padding: 10px;
        border-radius: 10px;
    }

    label {
        display: inline-block;
        padding: 5px;
        margin-right: 5px;
    }
    .form-group {
        display: flex;
        align-items: center;
        padding: 20px;
        margin: 10px 5px;
        border-radius: 8px;
    }

    .form-group input {
        width: 100%;
        padding: 2px 5px;
        font-size: 25px;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 1px solid #ddd;
        &:focus {
            outline: 0;
        }
        &::placeholder {
            font-size: 12px;
        }
    }

    #submit {
        display: inline-block;
        margin: 10px auto;
        padding: 10px 20px;
        background-color: #000;
        color: #fff;
        font-size: 20px;
        border: none;
        border-radius: 12px;
        outline: none;
    }
    .info {
        text-align: center;

        a {
            padding-left: 3px;
            text-decoration: none;
            color: rgb(57, 20, 223);
        }
    }
}

.error {
    color: #f81515;
    font-size: 12px;
    padding: 0;
    margin: 0;
    text-align: center;
}
