.form-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 0px 10px 24px 10px;
    border-radius: 10px;
    -webkit-box-shadow: -1px 6px 21px -10px rgba(27, 76, 224, 1);
    -moz-box-shadow: -1px 6px 21px -10px rgba(27, 76, 224, 1);
    box-shadow: -1px 6px 21px -10px rgba(27, 76, 224, 1);
    form {
        display: flex;
        flex-direction: column;
        background: #fff;
        padding: 10px;
        border-radius: 10px;
        margin-top: 40px;
    }
    label {
        display: inline-block;
        padding: 5px;
        margin-right: 5px;
        color: #1e34d2;
    }
    .form-group {
        display: flex;
        align-items: center;
        padding: 10px;
        margin: 20px 5px 10px;
        border-radius: 8px;
    }

    .form-group input {
        width: 100%;
        padding: 2px 5px;
        font-size: 25px;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 1px solid #ddd;
        transition: border-color 0.4s ease;
        &:focus {
            outline: 0;
            border-color: #4e42ff;
        }
        &::placeholder {
            font-size: 12px;
        }
    }

    #submit {
        display: inline-block;
        margin: 10px auto;
        border-radius: 4px;
        background: #4b59f7;
        white-space: nowrap;
        padding: 10px 20px;
        color: #fff;
        font-size: 16px;
        outline: none;
        border: none;
        cursor: pointer;

        &:disabled {
            background-color: rgb(105, 105, 105);
        }
        &:hover {
            cursor: pointer;
        }
    }
    .info {
        text-align: center;

        a {
            padding-left: 3px;
            text-decoration: none;
            color: rgb(57, 20, 223);
        }
    }
}

.error {
    color: #f81515;
    font-size: 12px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.loading-spinner-container {
    display: flex;
    justify-content: center;
}
