.add-form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 30px auto;
    border-radius: 10px;
    -webkit-box-shadow: -1px 6px 21px -10px rgba(27, 76, 224, 1);
    -moz-box-shadow: -1px 6px 21px -10px rgba(27, 76, 224, 1);
    box-shadow: -1px 6px 21px -10px rgba(27, 76, 224, 1);

    .form-control {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 15px;
        input {
            width: 100%;
            padding: 2px 5px;
            font-size: 25px;
            border-top: 0;
            border-left: 0;
            border-right: 0;
            border-bottom: 1px solid #ddd;
            margin-top: 10px;
            transition: border-color 0.4s ease;
            &:focus {
                outline: 0;
                border-color: #4e42ff;
            }
            &::placeholder {
                font-size: 12px;
            }
        }
    }

    button {
        white-space: nowrap;
        padding: 10px 20px;
        color: #fff;
        font-size: 16px;
        outline: none;
        border: none;
        cursor: pointer;
        &:hover {
            opacity: 0.9;
        }

        &:focus {
            outline: none;
        }
    }

    .options-array {
        width: 100%;
    }

    .option-container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 15px;
    }
    #remove {
        margin-left: 10px;
        font-size: 30px;
        color: #ff3939;
        background: transparent;
    }
    .add {
        text-align: center;
        margin-top: 20px;
    }

    #add-btn {
        border-radius: 4px;
        background: #101522;
    }
    #submit {
        border-radius: 4px;
        background: #4b59f7;

        &:hover {
            cursor: pointer;
        }
        &:disabled {
            background-color: #7a7979;
        }
    }
}
